


<form method="post" action="/users/donate">


 <div class="form-group">
  <label for="sel1">Votre groupe sanguin</label>
  <select class="form-control"  name="dblood">
    <option value="" selected disabled>Groupe sanguin</option>
    <option>O -</option>
    <option>O +</option>
    <option>A -</option>
    <option>A +</option>
    <option>B -</option>
    <option>B +</option>
    <option>AB -</option>
    <option>AB +</option>
  </select>
</div>


 <div class="form-group">
  <label for="sel1">La ville oú vous voulez donner votre sang</label>
  <select class="form-control"  name="dcity">
    <option value="" selected disabled>Ville</option>
    <option>Agadir</option>
    <option>Béni Mellal</option>
    <option>Casablanca</option>
    <option>El Jadida</option>
    <option>Fès</option>
    <option>Kénitra</option>
    <option>Khémisset</option>
    <option>Khouribga</option>
    <option>Marrakech</option>
    <option>Meknès</option>
    <option>Mohammédia</option>
    <option>Oujda</option>
    <option>Rabat</option>
    <option>Safi</option>
    <option>Salé</option>
    <option>Tanger</option>
    <option>Taourirt</option>
    <option>Taza</option>
    <option>Témara</option>
    <option>Tétouan</option>

  </select>
</div>



<div class="form-group">
  <label for="sel1">L'hopital vequel vous Donnez votre sang'</label>
  <select class="form-control"  name="dhospital">
    <option value="" selected disabled>L'hopital</option>
    <option>Hopital Cheikh Zayd</option>
    <option>Hopital Moulay Youssef</option>
    

  </select>
</div>


 <hr> 
  <button type="submit" class="btn btn-danger">S'inscrire dans la liste des donneurs</button>
</form>


  
