<!DOCTYPE html>
<html lang="en">
<head>
	<title>MAROCDon</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Minima is a minimal, clean HTML5 multi-purpose template, well-coded & commented code"/>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<header>

		<div class="wrapper">
			<a href="#" class="logo"> <img src="img/logo.png" alt="" title="Minima"/> </a>
			<nav>
				<ul>
					<li><a href="users/register">S'inscrire</a></li>
					<li><a href="users/login">Se Connecter</a></li>
				</ul>
			</nav>
		</div>
		
	</header><!-- End Header -->

	<section class="billboard">
		<section class="caption">
			<p class="cap_title">Don du sang au Maroc</p>
			<p class="cap_desc">Plteforme De Don du sang au Maroc</p>
			<a href="users/login">Se Connecter <i></i></a>
		</section>
	</section><!-- End billboard -->




	<section class="video wrapper">
		<h3>Lancement d’une caravane nationale</h3>
		<p>Une caravane de don de sang a été lancée, lundi 19 février à Rabat, sur le thème, "le don de sang, une responsabilité de tous", afin d'assurer un approvisionnement en sang suffisant au niveau national.</p>
	</section>	<!-- End video -->


	



	<section class="subscription">
		<div class="wrapper">
			<p class="title">INSCRIVEZ-VOUS À NOTRE NEWSLETTER</p>
			<p class="desc">Restez toujours notifié</p>
			<a href="#" class="start_btn">Pour S'inscrire, Cliquez Ici</a>
		</div>
	</section><!-- End subscription -->



	<section class="social">
			<a href="#" target="_blank" class="fb"></a>
			<a href="#" target="_blank" class="t"></a>
			<a href="#" target="_blank" class="d"></a>
			<a href="#" target="_blank" class="g"></a>
	</section><!-- End social -->



	<footer>
		<div class="wrapper">
			<div class="f_cols">
				<h3>Location</h3>
				<p>Institut national des postes et télécommunications <span class="phone">+212555555555</span></p> 	
				<a href="#" class="map">voir sur carte <span class="arrow">&nbsp;&rarr;</span></a>	
			</div>	

			<div class="f_cols">
				<h3>Plus d'informatoins</h3>
				<ul>
					<li><a href="#">Notre histoire</a></li>
					<li><a href="#">Mission</a></li>
					<li><a href="#">Blog</a></li>
				</ul>	
			</div>	

			<div class="f_cols">
				<h3>Aide</h3>
				<ul>
					<li><a href="#">FAQs</a></li>
					<li><a href="#">Contacte nous</a></li>
					<li><a href="#">Politiques d'utilisation</a></li>
				</ul>	
			</div>	

			<div class="f_cols">
				<h3>Don du sang au Maroc</h3>
				<p>"le don de sang, une responsabilité de tous"<p>
			</div>	


		</div>
	</footer><!-- End footer -->

	<div id="lightbox"></div>
	<div id="box">
		<a href="" class="close"></a>
		<form method="" action="">
			<input type="text" id="Email" placeholder="email"/>
			<input type="text" id="Nom Complet" placeholder="nom complet"/>
			<input type="submit" id="submit" value="S'inscrire"/>
		</form>
	</div>
</body>