 <h2 class="page-header">Bienvenue !</h2>

<form method="post" action="http://localhost:3000/users/search">

  <button type="submit" class="btn btn btn-primary">Afficher La Liste Des Donneurs</button>
</form>

 <hr> 
<p>ou bien :</p>

 <hr> 



<form method="post" action="/users/don">


  <button type="submit" class="btn btn-danger">S'inscrire dans la liste des donneurs</button>


</form>
<hr>
 <form method="post" action="/users/modifier">
  <button type="submit" class="btn btn-danger">Modifier Vos Données De Don</button>
</form>










